<?php
require_once '../vendor/autoload.php';

use S25\ShipCalcSDK\Settings\Settings;
use S25\ShipCalcSDK\Client\Client;
use S25\ShipCalcSDK\Place\Place;
use S25\ShipCalcSDK\Product\SimpleProduct;

$from = array_map(static function ($country) {
    return (new Place())->setCountry($country);
}, ['US', 'JP']);

$to = array_map(static function ($country) {
    return (new Place())->setCountry($country);
}, ['AU', 'AT', 'BE', 'CA', 'CZ', 'FR', 'DE', 'IE', 'IL', 'IT', 'NL', 'PL', 'KR', 'ES', 'CH', 'GB', 'US']);

$settings = (new Settings())
          ->setApiHost('http://localhost')
          ->setApiUrl('/api/v1.0/calculate/');

$client = new Client($settings);
$client->getRequest()->setFrom($from)
                  ->setTo($to)
                  ->setCurrency('USD')
                  ->setProduct((new SimpleProduct())->setWeight(1000));
$client->calc();

$result = $client->getResponseObject()->getResponse();
print_r($result);
